---
layout: default
title: Archive
---

<div>

  <h2>Archive</h2>

  <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a> for all articles.

  <section class="archive_list">
    {% assign cats = site.categories | sort %}
    {% for category in cats %}
      {% unless category contains "blog" %}
        <div class="category-name">
          <h2>{{ category | last }}</h2>
        </div>
        {% for post in category.last %}
          <div class="post_title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
            <span class="date">{{ post.date | date: "%Y%m%d" }}</span> <!-- "%-d %b, %Y" -->
          </div>
        {% endfor %}
      {% endunless %}
    {% endfor %}
  </section>

</div>


