<footer class="site-footer">
  <div class="container">
    <div class="footer left column one-half">
			<!-- >
      <section class="small-font">
        Theme <a href="https://github.com/wild-flame/jekyll-simple"> Simple </a> by <a href="http://wildflame.me">wildflame</a>
        © 2016 
        Powered by <a href="https://github.com/jekyll/jekyll">jekyll</a>
      </section>
			-->
    </div>

    <div class="footer right column one-half">
      <section class="small-font">
        {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
        {% endif %}
        {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
        {% endif %}
      </section>
    </div>
  </div>
</footer>
