<header class="site-header">
  {% if page.url contains "projects" or page.url contains "research"  or page.url contains "corounum" %}
    <h2 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>
    <!-- <h4 class="logo"><a href="{{ site.baseurl }}/"> Coro Unum Group</a></h4> -->
  {% else %}
    <h2 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>
  {% endif %}


  <div class="nav">
    
    <label for="menu-toggle" class="menu-icon">
        <!--div data-icon="ei-navicon"></div-->
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
    </label>
    <input type="checkbox" id="menu-toggle">

    <div class="site-nav">
      <nav>
        <ul class="cu-page-link">
          <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
					<li><a href="{{ "/courses/" | prepend: site.baseurl }}">Courses</a></li>
					<li><a href="{{ "/corounum/" | prepend: site.baseurl }}">Research</a></li>
					<li><a href="{{ "/publications/" | prepend: site.baseurl }}">Publications</a></li>
          <!-- <li><a href="{{ "/archive.html" | prepend: site.baseurl }}">Posts</a></li> -->
          <li><a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        </ul>
        {% if page.url contains "projects" or page.url contains "research" or page.url contains "corounum" %}
          <img src="{{ "/images/lynx-coro-unum.png" | prepend: site.baseurl }}">
        {% else %}
          <img src="{{ "/images/banner.jpg" | prepend: site.baseurl }}">
        {% endif %}
      </nav>
    </div>

  </div>
</header>
